.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
node_modules/
.env
playground.js
dist/firebase-hosting-config.json
dist/info.json
index.html
rollup.config.js
tsconfig.json
index.ts
.env.example
DEV_README.md
