// NOTE: CSS Vars are set in App.svelte
// so each import does not redefine the variables

// theme
$themeColor: #485460;
$themeColorInverse: white;
$themeColorDarkened: darken($themeColor, 10%);
$themeColorLightened: lighten($themeColor, 57%);
$themeFont: 'Helvetica Neue', Arial, sans-serif;
$headingFont: 'Impact', 'Fira Sans Condensed';

// colors
$inputTextColor: #222;
$textColor: #222;
$badgeTextColor: $textColor;
$textColor2: rgba($textColor, 0.9);
$textColor3: rgba($textColor, 0.7);
$textColor4: rgba($textColor, 0.5);
$textColorMuted: $textColor2;
$textColorNoBackground: $textColor;
$buttonColor: $themeColor;
$buttonGlowColor: $themeColor;
$buttonTextColor: $themeColorInverse;
// NOTE: avoid linear gradient for react native safeview embedding
// - solid catch;  let's eventually make a RN theme and/or toggle
// $modalBackground: #f0f0f0;
$modalBackgroundColor: #fff;
$modalBackground: linear-gradient(#eee, $modalBackgroundColor);
$modalPopupBackground: linear-gradient(
  rgba(255, 255, 255, 0.8),
  rgba(255, 255, 255, 0.92)
);
$modalContainerBackgroundColor: radial-gradient(
  circle closest-corner at 50% 40%,
  rgba(0, 0, 0, 0.4) 60%,
  rgba(0, 0, 0, 0.55) 100%
);

$shadowColor: rgba(0, 0, 0, 0.123);
$shadowBottomColor: $themeColorInverse;

$success: #00d395;
$error: #ff3f34;
$warning: #ffd32a;
$info: #0fbcf9;

// easing
$bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeInBack: cubic-bezier(0.36, 0, 0.66, -0.56);
$easeOutBack: cubic-bezier(0.34, 1.25, 0.64, 1);
$easeInExpo: cubic-bezier(0.7, 0, 0.84, 0);
$easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);

@mixin backface {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}

@mixin bottom-shadow {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.5rem;
  height: 5px;
  z-index: 10;
  box-shadow: 0 0 30px 30px var(--theme-shadow-bottom-color);
}

::-moz-selection {
  color: $themeColorInverse;
  background: $themeColor;
}
::selection {
  color: $themeColorInverse;
  background: $themeColor;
}

@function toRGB($color) {
  @return red($color) + ', ' + green($color) + ', ' + blue($color);
}
