$textColor1: #1e272e;
$textColor2: #485460;
$textColor3: #808e9b;
$textColor4: #d2dae2;

$success: #0be881;
$error: #ff3f34;
$warning: #ffd32a;
$info: #0fbcf9;

$modalContainerBackgroundColor: rgba(0, 0, 0, 0.1);
$modalBackgroundColor: white;
