@keyframes focus {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes infocus {
  0% {
    transform: scale(.975);
  }
  100% {
    transform: scale(1);
  }
}
