h5 {
  margin: 0;
}

.scroll {
  overflow-y: scroll;
}

.selector-container {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 0.5rem;
  margin-top: 1rem;
}

.help {
  color: var(--theme-text-color-4);
  font-size: 0.75rem;
}
